<?xml version="1.0"?>
<config>
    <modules>
        <Wf_Logmanager>
            <version>0.1.0.0</version>
        </Wf_Logmanager>
    </modules>
    <global>
        <resources>
            <logmanager_setup>
                <setup>
                    <module>Wf_Logmanager</module>
                </setup>
            </logmanager_setup>
        </resources>
        <models>
            <logmanager>
                <class>Wf_Logmanager_Model</class>
            </logmanager>
        </models>
        <blocks>
            <logmanager>
                <class>Wf_Logmanager_Block</class>
            </logmanager>
        </blocks>
        <helpers>
            <logmanager>
                <class>Wf_Logmanager_Helper</class>
            </logmanager>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <logmanager before="Mage_Adminhtml">Wf_Logmanager_Adminhtml</logmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Wf_Logmanager>
                    <files>
                        <default>Wf_Logmanager.csv</default>
                    </files>
                </Wf_Logmanager>
            </modules>
        </translate>
    </adminhtml>
</config>
