<?xml version="1.0"?>
<!--
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_Logger
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2013 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
 -->
<config>
    <modules>
        <FireGento_Logger>
            <version>1.3.0</version>
        </FireGento_Logger>
    </modules>
    <crontab>
        <jobs>
            <clean_logs>
                <schedule>
                    <cron_expr>15 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>firegento_logger/observer::cleanLogsCron</model>
                </run>
            </clean_logs>
            <!--
            <rotate_logs>
                <schedule>
                    <cron_expr>5 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>firegento_logger/observer::rotateLogs</model>
                </run>
            </rotate_logs>
            -->
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <logger before="Mage_Adminhtml">FireGento_Logger_Adminhtml</logger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <firegento_logger>
                    <file>firegento_logger.xml</file>
                </firegento_logger>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <firegento_logger>
                <class>FireGento_Logger_Model</class>
                <resourceModel>logger_resource</resourceModel>
            </firegento_logger>
            <logger_resource>
                <class>FireGento_Logger_Model_Resource</class>
                <entities>
                    <db_entry>
                        <table>advanced_logger</table>
                    </db_entry>
                </entities>
            </logger_resource>
        </models>
        <resources>
            <logger_setup>
                <setup>
                    <module>FireGento_Logger</module>
                </setup>
            </logger_setup>
        </resources>
        <helpers>
            <firegento_logger>
                <class>FireGento_Logger_Helper</class>
            </firegento_logger>
        </helpers>
        <blocks>
            <firegento_logger>
                <class>FireGento_Logger_Block</class>
            </firegento_logger>
        </blocks>
        <log>
            <core>
                <writer_model>FireGento_Logger_Model_Queue</writer_model>
                <writer_models>
                    <default>
                        <label>Files (Magento Default)</label>
                        <class>Zend_Log_Writer_Stream</class>
                    </default>
                    <advanced>
                        <label>Files (Advanced Format)</label>
                        <class>FireGento_Logger_Model_Stream</class>
                    </advanced>
                    <mailconfig>
                        <label>Mail</label>
                        <class>FireGento_Logger_Model_Mail</class>
                    </mailconfig>
                    <db>
                        <label>Database</label>
                        <class>FireGento_Logger_Model_Db</class>
                    </db>
                    <xmpp>
                        <label>XMPP</label>
                        <class>FireGento_Logger_Model_Xmpp</class>
                    </xmpp>
                    <graylog2>
                        <label>Graylog2 (experimental)</label>
                        <class>FireGento_Logger_Model_Graylog2</class>
                    </graylog2>
                    <rsyslog>
                        <label>Remote Syslog (UDP)</label>
                        <class>FireGento_Logger_Model_Rsyslog</class>
                    </rsyslog>
                    <logglysyslog>
                        <label>Loggly, via Remote Syslog (UDP)</label>
                        <class>FireGento_Logger_Model_Logglysyslog</class>
                    </logglysyslog>
                    <logglyhttps>
                        <label>Loggly, via HTTPS</label>
                        <class>FireGento_Logger_Model_Logglyhttps</class>
                    </logglyhttps>
                    <chromelogger>
                        <label>Chrome Logger</label>
                        <class>FireGento_Logger_Model_Chromelogger</class>
                    </chromelogger>
                </writer_models>
            </core>
        </log>
    </global>
    <default>
        <logger>
            <general>
                <targets>advanced</targets>
                <priority>7</priority>
                <format><![CDATA[
%timestamp% %priorityName% (%store_code%): %REQUEST_METHOD% %REQUEST_URI%
MESSAGE: %message%
REQUEST: %REQUEST_DATA%
TIME: %time_elapsed%s
FILE: %file%:%line%
\n
]]></format>
                <max_data_length>1000</max_data_length>
                <max_backtrace_lines>0</max_backtrace_lines>
                <viewer_enabled>0</viewer_enabled>
            </general>
            <default>
                <priority>default</priority>
            </default>
            <advanced>
                <priority>default</priority>
            </advanced>
            <mailconfig>
                <priority>default</priority>
            </mailconfig>
            <db>
                <priority>default</priority>
                <max_days_to_keep>45</max_days_to_keep>
            </db>
            <xmpp>
                <priority>default</priority>
            </xmpp>
            <graylog2>
                <priority>default</priority>
                <hostname>localhost</hostname>
                <port>12201</port>
                <chunk_size>1420</chunk_size>
                <app_name>Magento/</app_name>
            </graylog2>
            <rsyslog>
                <priority>default</priority>
                <timeout>5</timeout>
                <app_name>Magento/</app_name>
            </rsyslog>
            <logglyhttps>
                <priority>default</priority>
                <timeout>5</timeout>
                <inputkey></inputkey>
                <app_name>Magento/</app_name>
            </logglyhttps>
            <logglysyslog>
                <priority>default</priority>
                <hostname>logs.loggly.com</hostname>
                <port>42146</port>
                <timeout>5</timeout>
                <app_name>Magento/</app_name>
            </logglysyslog>
            <chrome>
                <priority>default</priority>
            </chrome>
        </logger>
    </default>
</config>
