<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_Logger>
            <version>0.0.1</version>
        </Hackathon_Logger>
    </modules>
    <admin>
        <routers>
            <hackathon_logger>
                <use>admin</use>
                <args>
                    <module>Hackathon_Logger</module>
                    <frontName>logger</frontName>
                </args>
            </hackathon_logger>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <logger translate="title" module="hackathon_logger">
                <title>View Error Log</title>
                <sort_order>60</sort_order>
                <children>
                    <viewer module="hackathon_logger">
                        <title>View database log</title>
                        <action>logger/view</action>
                    </viewer>
                </children>
            </logger>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <menu1 translate="title" module="hackathon_logger">
                            <title>View Error Log</title>
                            <sort_order>60</sort_order>
                            <children>
                                <menuitem1>
                                    <title>Logs</title>
                                </menuitem1>
                            </children>
                        </menu1>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <global>
		<log>
			<core>
				<writer_model>Hackathon_Logger_Model_Queue</writer_model>
			</core>
		</log>
        <models>
            <hackathon_logger>
                <class>Hackathon_Logger_Model</class>
                <resourceModel>logger_resource</resourceModel>
            </hackathon_logger>
            <logger_resource>
                <class>Hackathon_Logger_Model_Resource</class>
                <entities>
                    <logger>
                        <table>advanced_logger</table>
                    </logger>
                </entities>
            </logger_resource>
        </models>
        <resources>
            <logger_setup>
                <setup>
                    <module>Hackathon_Logger</module>
                </setup>
            </logger_setup>
        </resources>
        <helpers>
            <hackathon_logger>
                <class>Hackathon_Logger_Helper</class>
            </hackathon_logger>
        </helpers>
	</global>
</config>