<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_Logger>
            <version>0.0.1</version>
        </Hackathon_Logger>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <logger before="Mage_Adminhtml">Hackathon_Logger_Adminhtml</logger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <logger translate="title" module="hackathon_logger">
                <title>View Error Log</title>
                <sort_order>60</sort_order>
                <children>
                    <viewer module="hackathon_logger">
                        <title>View database log</title>
                        <action>adminhtml/logger/index</action>
                    </viewer>
                </children>
            </logger>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <menu1 translate="title" module="hackathon_logger">
                            <title>View Error Log</title>
                            <sort_order>60</sort_order>
                            <children>
                                <menuitem1>
                                    <title>Logs</title>
                                </menuitem1>
                            </children>
                        </menu1>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <hackathon_logger>
                    <file>hackathon_logger.xml</file>
                </hackathon_logger>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <hackathon_logger>
                <class>Hackathon_Logger_Model</class>
                <resourceModel>logger_resource</resourceModel>
            </hackathon_logger>
            <logger_resource>
                <class>Hackathon_Logger_Model_Resource</class>
                <entities>
                    <db_entry>
                        <table>advanced_logger</table>
                    </db_entry>
                </entities>
            </logger_resource>
        </models>
        <resources>
            <logger_setup>
                <setup>
                    <module>Hackathon_Logger</module>
                </setup>
            </logger_setup>
        </resources>
        <helpers>
            <hackathon_logger>
                <class>Hackathon_Logger_Helper</class>
            </hackathon_logger>
        </helpers>
        <blocks>
            <hackathon_logger>
                <class>Hackathon_Logger_Block</class>
            </hackathon_logger>
        </blocks>
        <writer_models>
            <default><label>Files (Default)</label><class>Zend_Log_Writer_Stream</class></default>
            <queue><label>Queue (supports multiple)</label><class>Hackathon_Logger_Model_Queue</class></queue>
            <mail><label>Email</label><class>Hackathon_Logger_Model_Mail</class></mail>
            <db><label>Database</label><class>Hackathon_Logger_Model_Db</class></db>
            <xmpp><label>XMPP</label><class>Hackathon_Logger_Model_Xmpp</class></xmpp>
            <dropbox><label>Dropbox</label><class>Hackathon_Logger_Model_Dropbox</class></dropbox>
            <graylog2><label>Graylog2</label><class>Hackathon_Logger_Model_Graylog2</class></graylog2>
        </writer_models>
    </global>
    <default>
        <logger>
            <general>
                <severity>7</severity>
            </general>
            <graylog2>
                <hostname>localhost</hostname>
                <port>12201</port>
                <chunk_size>1420</chunk_size>
            </graylog2>
        </logger>
    </default>
</config>
