<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_Logger>
            <version>0.0.1</version>
        </Hackathon_Logger>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <logger before="Mage_Adminhtml">Hackathon_Logger_Adminhtml</logger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <hackathon_logger>
                    <file>hackathon_logger.xml</file>
                </hackathon_logger>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <hackathon_logger>
                <class>Hackathon_Logger_Model</class>
                <resourceModel>logger_resource</resourceModel>
            </hackathon_logger>
            <logger_resource>
                <class>Hackathon_Logger_Model_Resource</class>
                <entities>
                    <db_entry>
                        <table>advanced_logger</table>
                    </db_entry>
                </entities>
            </logger_resource>
        </models>
        <resources>
            <logger_setup>
                <setup>
                    <module>Hackathon_Logger</module>
                </setup>
            </logger_setup>
        </resources>
        <helpers>
            <hackathon_logger>
                <class>Hackathon_Logger_Helper</class>
            </hackathon_logger>
        </helpers>
        <blocks>
            <hackathon_logger>
                <class>Hackathon_Logger_Block</class>
            </hackathon_logger>
        </blocks>
        <log>
            <core>
                <writer_model>Hackathon_Logger_Model_Queue</writer_model>
                <writer_models>
                    <default><label>Files (Magento Default)</label><class>Zend_Log_Writer_Stream</class></default>
                    <advanced><label>Files (Advanced Format)</label><class>Hackathon_Logger_Model_Stream</class></advanced>
                    <mailconfig><label>Mail</label><class>Hackathon_Logger_Model_Mail</class></mailconfig>
                    <db><label>Database</label><class>Hackathon_Logger_Model_Db</class></db>
                    <xmpp><label>XMPP</label><class>Hackathon_Logger_Model_Xmpp</class></xmpp>
                    <dropbox><label>Dropbox</label><class>Hackathon_Logger_Model_Dropbox</class></dropbox>
                    <graylog2><label>Graylog2</label><class>Hackathon_Logger_Model_Graylog2</class></graylog2>
                </writer_models>
            </core>
        </log>
    </global>
    <default>
        <logger>
            <general>
                <targets>advanced</targets>
                <priority>7</priority>
                <format><![CDATA[
%timestamp% %priorityName% (%store_code%): %REQUEST_METHOD% %REQUEST_URI%
REQUEST: %REQUEST_DATA%
TIME: %time_elapsed%s
ADDRESS: %REMOTE_ADDR%
USER AGENT: %HTTP_USER_AGENT%
FILE: %file%:%line%
%message%]]></format>
                <max_backtrace_lines>0</max_backtrace_lines>
            </general>
            <default>
                <priority>default</priority>
            </default>
            <advanced>
                <priority>default</priority>
            </advanced>
            <mailconfig>
                <priority>default</priority>
            </mailconfig>
            <db>
                <priority>default</priority>
                <viewer_enabled>0</viewer_enabled>
            </db>
            <xmpp>
                <priority>default</priority>
            </xmpp>
            <dropbox>
                <priority>default</priority>
            </dropbox>
            <graylog2>
                <priority>default</priority>
                <hostname>localhost</hostname>
                <port>12201</port>
                <chunk_size>1420</chunk_size>
                <app_name>Magento/</app_name>
            </graylog2>
        </logger>
    </default>
</config>
