<?xml version="1.0"?>
<config>
    <sections>
        <logger translate="label" module="hackathon_logger">
            <label>Advanced Logger</label>
            <tab>advanced</tab>
            <frontend_type>text</frontend_type>
            <sort_order>399</sort_order>
            <show_in_default>1</show_in_default>
            <groups>
                <general>
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <targets translate="label">
                            <label>Enabled Targets</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>hackathon_logger/system_config_source_targets</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>If a target is not enabled here it will not get written to even if it is specified in the Target Map below.</comment>
                        </targets>
                        <target_map>
                            <label>Target Map</label>
                            <frontend_model>hackathon_logger/adminhtml_system_config_targetmap</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                              Use regexes to specify which messages can be logged to which targets by filename (e.g. system.log).
                              If no rules are specified, all messages will be logged to all enabled targets. The priority level filters
                              still apply.
                            ]]></comment>
                        </target_map>
                        <priority translate="label">
                            <label>Default Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_priorities</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged. Can be overridden separately for each writer.</comment>
                        </priority>
                        <format translate="label">
                            <label>Advanced Format</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                              "\n" will be replaced with a newline. Available keys:<br/>
                              %timestamp%<br/>
                              %priorityName%<br/>
                              %priority%<br/>
                              %store_code%<br/>
                              %time_elapsed%<br/>
                              %REQUEST_METHOD%<br/>
                              %REQUEST_URI%<br/>
                              %REQUEST_DATA%<br/>
                              %REMOTE_ADDR%<br/>
                              %HTTP_USER_AGENT%<br/>
                              %file%<br/>
                              %line%<br/>
                              %message%<br/>
                              %backtrace%
                            ]]></comment>
                        </format>
                        <max_backtrace_lines translate="label">
                            <label>Max Backtrace Lines</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Enter a number above 0 to enable the %backtrace% key in the Advanced Format or in Graylog2]]></comment>
                        </max_backtrace_lines>
                        <use_queue translate="label">
                            <label>Queue Events</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>If "Yes", events will be grouped into one event at shutdown.</comment>
                        </use_queue>
                    </fields>
                </general>
                <default translate="label">
                    <label>Files (Magento Default) Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                    </fields>
                </default>
                <advanced translate="label">
                    <label>Files (Advanced Format) Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                    </fields>
                </advanced>
                <mailconfig translate="label">
                    <label>Mail Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <hostname translate="label">
                            <label>Hostname</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </hostname>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </password>
                        <from translate="label">
                            <label>From</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </from>
                        <to translate="label">
                            <label>To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                        </to>
                    </fields>
                </mailconfig>
                <db translate="label">
                    <label>Database Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <viewer_enabled translate="label">
                            <label>Enable Log Viewer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>If "No", the "View Error Log" menu item will not be present.</comment>
                        </viewer_enabled>
                    </fields>
                </db>
                <xmpp translate="label">
                    <label>XMPP Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </password>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </host>
                        <port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </port>
                        <domain translate="label">
                            <label>Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </domain>
                        <recipient translate="label">
                            <label>Recipient</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </recipient>
                    </fields>
                </xmpp>
                <dropbox translate="label">
                    <label>Dropbox Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                    </fields>
                </dropbox>
                <graylog2 translate="label">
                    <label>Graylog2 Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <hostname translate="label">
                            <label>Hostname</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </hostname>
                        <port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </port>
                        <chunk_size translate="label">
                            <label>Chunk Size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>This should be 1420 for WAN, 8154 for LAN.</comment>
                        </chunk_size>
                        <app_name>
                          <label>App Name</label>
                          <frontend_type>text</frontend_type>
                          <sort_order>40</sort_order>
                          <show_in_default>1</show_in_default>
                          <comment>This value will prefix the file name as the Facility.</comment>
                        </app_name>
                    </fields>
                </graylog2>
            </groups>
        </logger>
    </sections>
</config>
