<?xml version="1.0"?>
<config>
    <sections>
        <logger translate="label" module="hackathon_logger">
            <label>Advanced Logger</label>
            <tab>advanced</tab>
            <frontend_type>text</frontend_type>
            <sort_order>399</sort_order>
            <show_in_default>1</show_in_default>
            <groups>
                <general>
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <targets translate="label">
                            <label>Enabled Targets</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>hackathon_logger/system_config_source_targets</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Logger will write only to enabled targets. To enable a Target, simply click on it. To enable multiple Targets, press CTRL and click on each Target.</comment>
                        </targets>
                        <target_map>
                            <label>Target Map</label>
                            <frontend_model>hackathon_logger/adminhtml_system_config_targetmap</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                Use Regular Expressions to specify which messages can be logged to each Target.
                                If no rules are specified, all messages will be logged to all enabled Targets.
                                <strong>Note</strong>: Priority Level filters are not affected by this setting.
                            ]]></comment>
                        </target_map>
                        <priority translate="label">
                            <label>Default Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_priorities</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged. Can be overridden separately for each writer.</comment>
                        </priority>
                        <format translate="label">
                            <label>Advanced Format</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                              "\n" will be replaced with a newline. Available keys:<br/>
                              %timestamp%<br/>
                              %priorityName%<br/>
                              %priority%<br/>
                              %store_code%<br/>
                              %time_elapsed%<br/>
                              %REQUEST_METHOD%<br/>
                              %REQUEST_URI%<br/>
                              %REQUEST_DATA%<br/>
                              %REMOTE_ADDR%<br/>
                              %HTTP_USER_AGENT%<br/>
                              %file%<br/>
                              %line%<br/>
                              %message%<br/>
                              %backtrace%
                            ]]></comment>
                        </format>
                        <max_backtrace_lines translate="label">
                            <label>Max Backtrace Lines</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Enter a number above 0 to enable the %backtrace% key in the Advanced Format or in Graylog2]]></comment>
                        </max_backtrace_lines>
                        <use_queue translate="label">
                            <label>Queue Events</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                When set to "Yes", events will be grouped into a single event, which will be written at the
                                end of each page processing. <br />
                            ]]></comment>
                        </use_queue>
                    </fields>
                </general>
                <default translate="label">
                    <label>Files (Magento Default) Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                    </fields>
                </default>
                <advanced translate="label">
                    <label>Files (Advanced Format) Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                    </fields>
                </advanced>
                <mailconfig translate="label">
                    <label>Mail Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <hostname translate="label">
                            <label>Hostname</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </hostname>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </password>
                        <from translate="label">
                            <label>From</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </from>
                        <to translate="label">
                            <label>To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                        </to>
                    </fields>
                </mailconfig>
                <db translate="label">
                    <label>Database Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <viewer_enabled translate="label">
                            <label>Enable Log Viewer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>If "No", the "View Error Log" menu item will not be present.</comment>
                        </viewer_enabled>
                    </fields>
                </db>
                <xmpp translate="label">
                    <label>XMPP Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </password>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </host>
                        <port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </port>
                        <domain translate="label">
                            <label>Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </domain>
                        <recipient translate="label">
                            <label>Recipient</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </recipient>
                    </fields>
                </xmpp>
                <dropbox translate="label">
                    <label>Dropbox Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                    </fields>
                </dropbox>
                <graylog2 translate="label">
                    <label>Graylog2 Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <hostname translate="label">
                            <label>Hostname</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </hostname>
                        <port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </port>
                        <chunk_size translate="label">
                            <label>Chunk Size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>This should be 1420 for WAN, 8154 for LAN.</comment>
                        </chunk_size>
                        <app_name>
                            <label>Application Name</label>
                          <frontend_type>text</frontend_type>
                          <sort_order>40</sort_order>
                          <show_in_default>1</show_in_default>
                          <comment>This value will prefix the file name as the Facility.</comment>
                        </app_name>
                    </fields>
                </graylog2>
                <logglyhttps translate="label">
                    <label>Loggly (HTTPS) Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <comment><![CDATA[
                        Sends log messages in JSON format to <a href="http://www.loggly.com">Loggly</a>,
                        using HTTPS protocol.<br />
                        <strong>Important</strong>: HTTPS is <strong>very slow</strong>, therefore it should be used
                        only if the log messages contain sensitive data. It's also recommended to enable this logger
                        exclusively for critical log messages, and to enable <strong>Queue Events</strong> in
                        <strong>General</strong> section, so that the messages are sent at the end of each page
                        execution.
                    ]]></comment>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <inputkey translate="label">
                            <label>Input Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                Enter the SHA Key to be used to send the Log Messages to Loggly.
                                To find this information, open your <a href="http://www.loggly.com">
                                Loggly</a> Dashboard, navigate to the <strong>Inputs</strong> tab and
                                click on the Input that you would like to receive the log. At the bottom
                                of the page you will see a <strong>Configuration</strong>
                                section, which displays the Input Key for that Input. Simply copy
                                that key in this field.
                            ]]></comment>
                        </inputkey>
                        <timeout translate="label">
                            <label>Timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                Timeout for the communication with Loggly server, in seconds.<br />
                                <strong>Warning</strong>: It's recommended to specify a value greater or equal to
                                five seconds, else the communication with Loggly could be interrupted before the
                                log message is sent.
                            ]]></comment>
                        </timeout>
                        <app_name>
                            <label>Application Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>This value will be prefixed to the File Name.</comment>
                        </app_name>
                    </fields>
                </logglyhttps>
                <rsyslog translate="label">
                    <label>Remote Syslog (UDP) Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <comment><![CDATA[
                        Sends log messages to a Remote Syslog Server, using UDP Protocol.
                    ]]></comment>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <hostname translate="label">
                            <label>Host Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                Host Name or IP Address of the Remote Syslog server.
                            ]]></comment>
                        </hostname>
                        <port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                UDP Port to use to connect to Remote Syslog server.
                            ]]></comment>
                        </port>
                        <timeout translate="label">
                            <label>Timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Timeout for the communication with Loggly server, in seconds.</comment>
                        </timeout>
                        <app_name>
                            <label>Application Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>This value will be prefixed to the File Name.</comment>
                        </app_name>
                    </fields>
                </rsyslog>
                <logglysyslog translate="label">
                    <label>Loggly via Remote Syslog (UDP) Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <comment><![CDATA[
                        Sends log messages in <strong>JSON format</strong> to Loggly, using RSyslog (UDP) Protocol.
                        This logger is much faster than the HTTPS one, and can be used for all log messages.
                    ]]></comment>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>hackathon_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                        <hostname translate="label">
                            <label>Host Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                Host Name or IP Address of the Loggly server. <strong>If not sure, don't change it.</strong>
                            ]]></comment>
                        </hostname>
                        <port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                UDP Port to use to connect to Loggly. <strong>If not sure, don't change it.</strong>
                            ]]></comment>
                        </port>
                        <timeout translate="label">
                            <label>Timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Timeout for the communication with Loggly server, in seconds.</comment>
                        </timeout>
                        <app_name>
                            <label>Application Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>This value will be prefixed to the File Name.</comment>
                        </app_name>
                    </fields>
                </logglysyslog>
            </groups>
        </logger>
    </sections>
</config>
